<p id="notice"><%= notice %></p>

<p>
  <strong>Wine:</strong>
  <%= @wine.product %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag @wine.picture %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @wine.desc %>
</p>

<p>
  <strong>Age:</strong>
  <%= @wine.age %>
</p>

<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
